@tailwind base;

@tailwind components;

@tailwind utilities;

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;  
    padding: 16px 16px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .StripeElement--focus {
    /* box-shadow: 0 1px 3px 0 #cfd7df; */
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  #card-errors {
    color: #fa755a;
  }  

  span {
    display: inline-block;
    transition: transform 200ms;
  }
  
  button:hover .lewo {
    transform: translateX(-10px);
    animation: wprawol
  }
  
  
  button:hover .prawo {
    transform: translateX(10px);
    animation: wprawo 500ms infinite alternate;
  }
  
  @keyframes wprawo {
    from {
      transform: translateX(0px)
    } 
    to {
      transform: translateX(10px)
    }
  }

  button:hover .text2 {
    transform: translateX(10px);
    animation: wlewo
  }
  
  button:hover .arrow2 {
    transform: translateX(10px);
    animation: wlewo 500ms infinite alternate;
  }
  
  @keyframes wlewo {
    from {
      transform: translateX(0px)
    } 
    to {
      transform: translateX(-10px)
    }
  }